/* resets */
* {
  margin: 0;
  padding: 0;
}
/* general settings */
body {
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  margin: auto;
  font-size: 12px;
  background-color: rgb(244, 233, 216);
}

.container {
  width: 100%;
  /* margin: auto; */
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  display: none;
}
.logo {
  display: flex;
  gap: 7px;
}

.logo figcaption {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  border: 0.7px solid black;
  border-radius: 5em;
  /* padding: 3px; */ /* just discovered this was unnecessary */
  font-size: 9px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to right, #ffaf1b, #ff1010);
}

/* main */
/* hero section */
/* .hero {
  width: 100%;
} */
.art-showcase {
  position: relative;
  height: 350px;
  /* width: 90%; */
  /* margin: auto; */
}
.art-showcase img {
  position: absolute; /* this covers all the images */
  width: 200px;
  height: auto;
  padding: 50px 0 0 60px;
  /*   display: flex;
  justify-content: center;
  align-items: center; */
}
/* using poaition absolute and relative to overlay the images */
.art-showcase .art3 {
  transform: rotateZ(-15deg);
  /* position: absolute; */ /* this part was unnecessary */
  left: -6px;
  top: 10px;
}
.art-showcase .art2 {
  transform: rotateZ(-30deg);
  /* position: absolute; */
  left: -12px;
  top: 20px;
}
.art-showcase .art1 {
  transform: rotateZ(-45deg);
  /* position: absolute; */
  left: -18px;
  top: 30px;
}

/* styling readable */
.readable {
  width: 100%;
}
.readable h1 {
  font-size: 42px;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Playfair Display", serif;
  text-align: left;
}

.with-hosterr {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #484848;
  line-height: 23px;
}

/* form */
form {
  display: grid;
  gap: 7px;
}
form input[type="email"],
form button[type="submit"],
button[type="submit"] {
  height: 38px;
  border: none;
  padding-left: 10px;
  border-radius: 5px;
}
form button[type="submit"],
button[type="submit"] {
  background-color: rgba(63, 63, 237, 0.79);
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 10px;
}

.side-note {
  font-size: 13px;
  color: #484848;
  position: relative;
  margin-left: 30px;
  margin-bottom: 50px;
}
.side-note:before {
  content: " ";
  width: 18px;
  height: 18px;
  background-image: url("./../img/Checkmark.svg");
  position: absolute;
  background-size: cover;
  left: -2em;
  margin-top: -0.5px;
}

/* footer */
footer ul {
  font-size: 14px;
  display: flex;
  gap: 27px;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.avatar {
  display: flex;
  gap: 18px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Playfair Display", serif;
}

.avatar p {
  margin-top: 7px;
}
.avatar p strong {
  display: block;
}

/* tablet view using media query*/

@media screen and (min-width: 460px) {
  .art-showcase img {
    width: 250px;
    height: auto;
  }
}

@media screen and (min-width: 580px) {
  body {
    padding: 28px;
  }
  .logo figcaption {
    width: 100px;
    font-size: 11px;
  }

  .art-showcase img {
    width: 300px;
    margin-left: 57px;
    margin-top: -30px;
  }
  .readable {
    margin-top: 10px;
  }
  .with-hosterr {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  form {
    display: flex;
  }
  form input[type="email"] {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
  form button[type="submit"],
  button[type="submit"] {
    width: 120px;
    height: 50px;
  }
  .side-note {
    font-size: 16px;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  .nowrap {
    white-space: nowrap;
  }

  .foot-list {
    margin-top: 15px;
  }

  .avatar {
    margin-right: 50px;
  }
}
/* desktop view */
@media screen and (min-width: 1107px) {
  body {
    width: 88%;
    margin: auto;
  }
  .nav-bar {
    display: flex;
    gap: 150px;
    font-size: 20px;
  }
  .left-list,
  .right-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .right-list {
    gap: 30px;
  }
  .menu {
    display: none;
  }
  header {
    margin-right: 40px;
  }
  .logo img {
    width: 102px;
  }
  .logo figcaption {
    margin-top: 20px;
  }

  #hero-sec {
    display: flex;
    gap: 163px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 4.3em;
    margin-bottom: 4em;
  }

  .readable {
    max-width: 47%;
    margin-top: 4em;
  }

  /* .art-showcase {
    max-width: 30%;
  } */ /* unnecessary */

  .avatar img {
    width: 40px;
  }

  .avatar p {
    font-size: 15px;
    margin-top: 14px;
  }
}
